<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @subcategory.parent_id %>
</p>

<p>
  <strong>Child:</strong>
  <%= @subcategory.child_id %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
