<p id="notice"><%= notice %></p>

<h1>Listing Grouptypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouptypes.each do |grouptype| %>
      <tr>
        <td><%= grouptype.name %></td>
        <td><%= link_to 'Show', grouptype %></td>
        <td><%= link_to 'Edit', edit_grouptype_path(grouptype) %></td>
        <td><%= link_to 'Destroy', grouptype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grouptype', new_grouptype_path %>
