<p id="notice"><%= notice %></p>

<h1>Listing Locationtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Item</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locationtypes.each do |locationtype| %>
      <tr>
        <td><%= locationtype.name %></td>
        <td><%= locationtype.item_id %></td>
        <td><%= locationtype.location_id %></td>
        <td><%= link_to 'Show', locationtype %></td>
        <td><%= link_to 'Edit', edit_locationtype_path(locationtype) %></td>
        <td><%= link_to 'Destroy', locationtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locationtype', new_locationtype_path %>
